.task-timer-component-container {
    background-color: #C15C5C;
    color: white;
    font-weight: 600;
    padding: 15px 0px 15px 0px !important; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

}

.task-timer-motivation {
    padding: 5px;
   
}

#task-timer {
    font-size: 120px;
    font-weight: bold;
}

.task-timer-control-container{
    padding: 5px;
}


.task-timer-button{
    cursor: pointer;
    border: none;
      padding: 0px 12px;
    border-radius: 4px;
    font-size: 22px;
    height: 55px;
    color: rgb(186, 73, 73);
    font-weight: bold;
    width: 200px;
    background-color: white;
    transition: color 0.5s ease-in-out;
    
}

.task-timer-start-button{
    box-shadow: rgb(235, 235, 235) 0px 6px 0px;
}