.task-master-app {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    font-family: "Open Sans", serif;

}

.app-container {
    background-color: #BA4949;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 220px;
    width: 620px;
    border: 2px solid black;
}


/* this class is global */
.task-master-app-components{
    margin: 20px 72px 20px 72px;
    padding: 8px 8px;
    border-radius: 5px;
}


